.bordering {
    width: 80px;
    height: 3px;
    background-color: #bea67c;
    margin-bottom: 25px;
    margin-top: 25px;
}

.genesislist {
    position: relative;
}

.genesislist2 {
    font-size: 120px;
    color: #bea67c;
    font-weight: 700;
}

@media all and (max-width: 990px){
    .carousel-caption {
        display: none;
    }

}

@media all and (max-width: 768px) {
    .carousel-caption {
        display: none;

    }
}

@media all and (max-width: 576px) {
    .carousel-caption {
        display: none;

    }
}

.genesislistuslugi {
    font-size: 120px;
    color: #bea67c;
    font-weight: 700;
    position: absolute;
    top: 260px;
}


@media (min-width: 768px) {
    .genesislistuslugi {
        top: 310px;
        font-size: 90px;
    }
}

@media all and (min-width: 576px) {
    .genesislistuslugi {
        top: 210px;
        font-size: 90px;
    }
}
@media all and (max-width: 576px) {
    .genesislistuslugi {
        display: none;
    }
}

@media all and (max-width: 375px) {
    .genesislistuslugi {
        display: none;
    }
}
    @media all and (max-width: 320px) {
        .genesislistuslugi {
            display: none;
        }
    }